body{
    background-color: rgb(65, 61, 61);
    

}

.image{
    width: 100%;
    height: 38rem;
    
}

.nav-inf{
    height: 4rem;
    background-color: rgb(40, 40, 40);

    color: white;
    padding-top: 1rem;
}

.table{
    padding: 3rem;
    background-color: rgb(40, 40, 40);
    color: white;
}


.category-container{
    padding: 3rem;
    background-color: rgb(40, 40, 40);
    color: white;
    margin-bottom: 3rem;
    
}


.pizza-types{
    color: red;
    font-size:medium;
    font-weight: 500;
    text-decoration: none;

}

.slogan{
    margin: auto;
    text-align: center;
    text-align: center;
    margin-top: 3rem;
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.alert{
    color: white;
    background-color: red;
    border-color: transparent;
    width: 50rem;
    margin: auto;
    text-align: center;
}

.history p{
    font-size: larger; 
    text-align: center;
    margin: 4rem;
    font-weight: 700;
    margin-top: 7rem;
}
.btn:hover{
    background-color: #ff9800;
    border-color:  #ff9800;
}

.btn{
    color: #ff9800;
    border-color: #ff9800;
}

.btn-primary{
    background-color: red;
    color: white;
    border-color: white;
}


footer{
    background-color: rgb(40, 40, 40);
    padding: 60px 0 30px 0;
    box-shadow: 0px 0px 5px black;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 10em;
    margin-top: 30px;
    
}

.container_footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    border-bottom: 3px solid  #ff9800;

}

.content-footer{
    text-align: center;

}

.content-footer h4{
    color: red;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.content-footer p{
    font-family: 'Aclonica', sans-serif;
    color:  white;
}

.last-titule{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    font-family: 'Aclonica', sans-serif;

    color: white;
}

.content-footer p a{
    text-decoration: none;
    color: white;
}
.content-footer p a :hover{
    color: white;
}
.nav-link{
    font-weight: 500;
    font-size: larger;
    color: red;
}

.notpizza{
    margin-bottom: 19rem;
    padding-top: 10rem;
    color: #ff9800;
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
}