{% extends 'mainpage/fathertemplate.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <title>Document</title>
</head>
<body>
    {% block content %}

    <section>
        <div class="image-content" >
            <img class="img-fluid image"  src="https://media.traveler.es/photos/613770d906df43bef2d30f9f/16:9/w_2000,h_1125,c_limit/43061.jpg" alt="">
            
        </div>
    </section>

    {% endblock %}
</body>

</html>